$km-color-1: #3498db;
$km-color-2: #ecf0f1;
$km-color-3: #34495e;
$km-color-4: #e88630;
$km-color-5: #fff;
$km-color-6: #999;
$km-color-7: #7f8c8d;


body {
  background: $km-color-1;
  margin: 0;
  padding: 0;  
}

.data {
  background: $km-color-2;
  color: $km-color-3;
  font: bold 1em Arial, sans-serif;
  margin: 1em auto;
  max-width: 45em;
  padding: 0.3em;
  
  //include Section...
  
  @include border-radius(0.3em);
  
  .title {
    color: rgba($km-color-7,0.5);
    margin-bottom: -0.3em;
    padding: 0.15em;
    text-align: center;
    
    //include section 
    
    @include border-radius(0.3em)
  }
}

.day {
  margin: 0.2em 0;
  padding: 0.5em 0;
}


.date {  
  background: $km-color-4;
  color: $km-color-5;
  padding: 0.2em;
  text-align: center;
  
  //include Section...
  
  @include border-radius(0.3em);
}

.last-edit {
  color: rgba($km-color-3, 0.5);
  font-size: 0.85em;
  padding: 0.15em;
  text-align: right;
}

.day ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  
  li {
    background: rgba($km-color-3, 0.1);
    border-left: 0.2em solid;
    margin: 0.2em;
    padding: 0.2em;
  }
}


@media all and (max-width: 480px) {
  body {
    font-size: 0.9em;
  }
}