@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  background: #3498db;
  font-family: 'Open sans', sans-serif;
  margin: 0;
  padding: 0;
}

.data {
  background: #ecf0f1;
  color: #34495e;
  font: bold 1.2em 'Open sans', sans-serif;
  margin: 1em auto;
  max-width: 45em;
  padding: 0.3em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
}

.data .title {
  color: rgba(127, 140, 141, 0.5);
  margin-bottom: -0.3em;
  text-align: center;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
}

.data a {
  border-bottom: 0.15em solid;
  color: inherit;
  text-decoration: none;
}

.day {
  margin: 0.2em 0;
  padding: 0.5em 0;
}

.date {
  background: #e88630;
  color: white;
  padding: 0.2em;
  text-align: center;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
}

.last-edit {
  color: rgba(52, 73, 94, 0.5);
  font-size: 0.85em;
  padding: 0.15em;
  text-align: right;
}

.day ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.day ul li {
  background: rgba(52, 73, 94, 0.1);
  border-left: 0.2em solid;
  margin: 0.2em;
  padding: 0.27em;
}

@media all and (max-width: 30em) {
  body {
    font-size: 0.9em;
  }
}

code {
  background: #1B85EE;
  border-radius: 0.4em;
  color: white;
  font-family: inherit;
  padding: 0.1em 0.3em;
}